<%- include('header') %>
<div style="padding-top: 50px;">
    <h1 class="fw-bold mb-5" style="justify-content: center; margin-top: 100px; text-align: center; padding-bottom: 50px;">Shop</h1>
    <div class="row row-cols-5 row-cols-md-4 g-2"
        style="height: 100%; margin: 50px 130px; justify-content:left; grid-gap: 12.5%; position: relative;">
        <% shop_data.forEach((shop) =>  { %>
            <div class="card h-100 w-290 " style="width: 290px; padding: 5px; z-index: 1; border: 0; margin-bottom: 80px;">
                <!-- Product img -->
                    <div style="justify-self: center;">
                        <!-- //TODO-->
                        <!-- shop link at ../shop/{shopid}-->
                        <img src="../images/shopImage/<%= shop.imageUrl %>" style="height:230px; max-height: 290px;width: 100%; border-radius: 12px; background-size: cover;" alt="">
                    </div>
                    <!-- //TODO -->
                    <!-- shop name (link)-->
                    <h2 class="card-title text-dark mt-3" style="font-size: 20px;text-decoration: none;">
                        <!-- shop link at ../shop/{shopid}-->
                        <%= shop.name %>
                    </h2>
                    <p style="font-size: 18px;">
                        <!-- description text -->
                        <%= shop.description %>
                    </p> 
                <!-- shop link-->
                <a href="/shop/<%= shop.id %>" type="button" class="btn btn-outline-info" style="width: fit-content;">View Shop</a>
            </div>
        <% }) %>
    </div>
</div>