<%- include('header') %>
<div class="content " style="margin-left: 90px; margin-right: 90px;">
    <!-- Order status -->
    <div class="text-center pb-4" style="font-size: 40px;">
        Shop Order Status
    </div>
    <!-- order number -->
    <div class="mt-3 px-4 pb-4" style=" border-bottom: 2px solid black;">
        <div class="d-flex" style="font-size: 20px;"> 
            <div class="mr-1">Order:</div>
            <!-- order number -->
            <%= order_data.id %>
        </div> 
        <div class="mr-2">Status : 
            <!-- status -->
            <% if(order_data.status =="Order cancelled" ) { %>
                <p style="color: #DC3545;">
                    <%=order_data.status  %>
                </p>

            <% }else if(order_data.status =="Order Confirmed" ) { %>
                <p style="color: #c09a28;">
                    <%=order_data.status  %>
                </p>
            <% }else{ %>
                <p style="color: #28A745;">
                    <%=order_data.status  %>
                </p>
            <% }%>
        </div>
    </div>
    <!-- status -->
    <div style=" border-bottom: 2px solid black; padding-bottom: 40px;">
        <div class="row mb-3 mt-5" style="font-size: 3-px;">
            <div class="col-3"></div>
            <div class="col-4 ">
                <h2>Product</h2>
            </div>
            <div class="col-3 ">
                <h2>quantity</h2>
            </div>
            <div class=" col-2 ">
                <h2>price</h2>
            </div>
        </div>
        <!-- order -->
            <div class="" style="justify-content:center; ">
                <div class="card" style="justify-content:center; border-radius: 10px;border: none;">
                    <div class="card-body ">
                        <div class="row ">
                            <div class="col-md-3">
                                <img src="/images/productImage/<%= order_data.productImage %>" style="height:230px; max-height: 150px;width: 100%; border-radius: 10px; background-size: cover;  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);" alt="">
                            </div>
                            <!-- product -->
                            <div class="col-md-4 pt-5">
                                <div class="pb-2" style="font-size: 20px;"><%= order_data.product_name %></div>
                                <div style="font-size: 16px;"><%= product_data.description %></div>
                            </div>
                            <!-- quantity -->
                            <div class="col-md-3 py-4">
                                <p class="text" style="padding: 20px; padding-left: 45px;font-size: 25px; padding-top: 25px ;">
                                    <!--example  -->
                                    <%= order_data.amount %>
                                </p>
                            </div>
                            <!-- price -->
                            <div class="col-md-1 text-center d-flex " style="text-align: center;padding-top: 50px;padding-left: 40px;">
                                <p class="text" style="font-size: 25px;">
                                    <!--example  -->
                                    <%= order_data.totalprice %>
                                </p>
                                <span class="material-symbols-outlined mx-2 custom-icon" style="font-size: 30px;">
                                    lightbulb
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
    </div>      
    <!-- detail -->
    <div>
        <div class="mt-5 d-flex justify-content-between">
            <div>
                <form action="/yourshop/shopOrder/<%= order_data.id %>" method="post">
                    <!-- shipping -->
                    <div style="font-size: 14px;">Shipping</div>
                    <div class="my-2" style="font-size: 12px;color: #667085;">  
                        <!--example  -->
                        <% if(order_data.status == "Order Confirmed"){ %>
                            <select id="Shipping" name="shipping" class="form-control" style="width: 150px; height: 40px; border-radius: 15px; border-color: black; font-size: 12px;">
                                <option value="" style="font-size: 10px; border-color: black;" disabled selected hidden>Select Options </option>
                                <% shippingCompany_data.forEach((shippingCompany) => { %>
                                    <option value="<%= shippingCompany.id %>" class="" style=" font-size: 25px;height: 80px; border-radius: 10px; border-color: black;">
                                        <%= shippingCompany.name %>
                                    </option>
                                <% }) %>
                            </select>
                        <% } else { %>
                            <%= shippingCompanySelectedName %>
                        <% } %>
                    </div>
                    <!-- Tracking Number -->
                    <div style="font-size: 14px;">Tracking Number</div>
                    <div class="my-2" style="font-size: 12px;color: #667085;"> 
                        <!--example  -->
                        <% if(order_data.status == "Order Confirmed"){ %>
                            <input type="text" placeholder="" name="track" class="form-control" style="width: 150px; height: 25px; border-radius: 15px; border-color: black; font-size: 12px;">
                        <% } else { %>
                            <%= order_data.track %>
                        <% } %>
                    </div>
                    <% if(order_data.status == "Order Confirmed"){ %>
                        <button type="submit" class="btn btn-primary  mt-5 " style=" background-color: black;  font-size: 25px; border-radius: 10px; border-color: black;"onfocus="this.blur()">
                            Update
                        </button> 
                    <% } %>
                </from>
            </div>
            <!-- Delivery -->
            <div class="">
                <div style="font-size: 14px;">Delivery</div>
                <!-- payment detail -->
                <div style="color: #667085; font-size: 10px;">
                    Address
                </div>
                <!-- address -->
                <div style="color: #667085; font-size: 12px;">
                    <%= order_data.address_buyer %>
                </div>
            </div>
            <!-- Order Summary -->
            <div class="" style="width: 150px;">
                <div style="font-size: 14px; border-bottom: 1px solid #667085;">Order Summary</div>
                <!-- detail -->
                <div class="d-flex justify-content-between my-2">
                    <P>Total</P>
                    <p class="" style="font-size: 18px;">
                        <%= order_data.totalprice %>
                        <span class="material-symbols-outlined" style="font-size: 15px;">
                            lightbulb
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>