<%- include('header') %>
    <div style="padding-top: 100px;">
        
    </div>
    <div style="display: flex; justify-content: center; margin-top: 100px;">
        <!-- old src is "../images/shopImage/"<"%= shop.imageUrl %>"-->
       <img src="../images/shopImage/<%= shop_data.imageUrl %>" style="height:230px; max-height: 290px; width: 380px; border-radius: 12px; background-size: cover;" alt="">
   </div>
   <h1 class="fw-bold mb-2" style="justify-content: center; margin-top: 30px; text-align: center;">
        <%= shop_data.name %>
   </h1> 
    <div class="row row-cols-5 row-cols-md-4 g-2"
        style="height: 100%; margin: 50px 130px; grid-gap: 12.5%; position: relative;">
        <% product_data.forEach((product)=> { %>
            <div class="card h-100 w-290 " style="width: 290px; padding: 5px; z-index: 1; border: 0; margin-bottom: 80px;">
                <!-- Product img -->
                <div style=" justify-self: center;">
                    <img src="../images/productImage/<%= product.imageUrl %>"
                        style="height:230px; max-height: 290px;width: 100%; border-radius: 12px; background-size: cover;"
                        alt="">
                </div>
                <!-- Shop name (link)-->
                <h2 class="card-title">
                    <a href='' style="font-size: 20px;text-decoration: none;" class="text-dark">
                        <%= product.name %>
                    </a>
    
                </h2>
                <!-- Price -->
                <h3 style="font-size: 20px;">
                    <%= product.price %>
                        <span class="material-symbols-outlined custom-icon " style="font-size: 18px;">
                            lightbulb
                        </span>
                </h3>
                <!-- Description -->
                <p style="font-size: 16px;">
                    <span>Description:</span>
                    <span class="material-symbols-outlined custom-icon" style="font-size: 16px;">
                        <%= product.description %>
                </span>
                <div>
                    <a href="/product/productdetail/<%= product.id %>" class="btn btn-primary btn-sm px-3" style="background-color: #565859; border-color: #565859; border-radius: 5px; font-size: 14px;" onfocus="this.blur()">
                        Buy
                    </a>
                </div>
            </div>
            <% }) %>
    </div>